@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Regiteration Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration Form</title>
    
</head>
<body>

     
    <div class="card m-md-3  h-120 d-flex align-items-center justify-content-center">
        <div class="card-body py-5 px-md-5  ">

            <h1 style="text-align:center "> Registration Form</h1>
            <br />
            <form asp-action="RedirectToLogin" method="post" >
                <div class="form-group">
                    <label for="username">User Name:</label>
                    <input type="text" id="username" name="username" required>
                </div><br />
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div> <br />
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div> <br />
                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required>
                </div> <br />
                <div class="form-group">
                    <label>Gender:</label>

                    <select name="Gender" id="Gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="T">Transgender</option>
                        <option value="O">Others</option>

                    </select>
                </div> <br />
                <div class="form-group">
                    <label for="department">Department Name:</label>
                    <select name="Department" id="Department Name">
                        <option value="Department"> Enter the Department Name</option>
                        <option value="Engineering"> Engineering</option>
                        <option value="HR"> HR</option>
                        <option value="Sales">Sales</option>
                        <option value="Operations">Opreations</option>

                    </select>
                </div> <br />
                <div class="form-group">
                    <label for="phone">Phone Numbers:</label>
                    <input type="text" name="phone" size="10" />
                    <br> <br>
                </div> <br />

                <button type="submit" class="btn btn-primary" id="RegUser" onclick="RegUser_click()">Register</button>

                 
            </form>
        </div>
        
    </div>
   <script>
       function RegUser_click() {
           alert("Registered Successfully");
       }
   </script>


  
</body>
</html>
