

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h2 class="h2 text-center">Services </h2>
<div class="row">
    <div class="col-md-4 col-xs-12">
        
            
            <h3><b>Streamlined onboarding</b></h3>
            <p>By automating provisioning, organizations can take the user onboarding burden off of HR or IT departments by providing them access to specific applications, networks, data, and resources.</p>
        
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Increased Productivity</b></h3>
            <p>Improves productivity by giving users required access to the cloud services from day one. Users are empowered to start working immediately without having to wait for access.</p>
      
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Reduce Complexity</b></h3>
            <p>Using a centralized system, administrators can automate provisioning and manage many application accounts, reducing human errors and complexity.</p>
       
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Reduced cost</b></h3>
            <p>When you reduce the amount of time and resources spent on manual provisioning, you eliminate user downtime when they don’t have access to what they need, resulting in more productivity, lower operational expenses, and improved operational efficiency.</p>
        
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Error reduction</b></h3>
            <p>It eliminates manual operations, and the margin of error is considerably reduced. When adding a user to the system and providing access to programs, there’s less of a possibility of making a mistake.</p>
        
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Improved Security</b></h3>
            <p>Furthermore, automating reduces the risk of security threats, network or data breaches because access to these cloud applications is only granted through the roles and permissions established by the business.</p>
        
    </div>
</div>
</body>
</html>