@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h class="display-4">Welcome to </h>
    <p><span class="h3 ">The KidsArt Portal.</span></p>
</div>
<div class="text-md-center" >
    <p class="text-warning">Let your kid's creation enter into the Arena of digital world</p>
</div>