@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<Html>  
<head>  
    
<title>  
Registration Page  
</title>  
</head>  
<body bgcolor="Lightskyblue">  
<br>  
<br>  
<form>
    <h3>Register</h3> 
  <label> User Name</label>
   <input type="text" name="UserName" size="15" /> <br> <br>

        <label> Email</label>
        <input type="text" name="Email" id="email" /> <br> <br>

        <label> Password</label>
        <input type="Password" id="pass" name="pass"> <br> <br>

        <label> Gender:  </label>  <br>
        <input type="radio" id="gender" name="gender" value="male" /> Male
        <br>
        <input type="radio" id="gender" name="gender" value="female" /> Female <br />

        <input type="radio" id="gender" name="gender" value="Other" /> Other<br /> <br />

        <label for="Department Name">Department Name</label><br>

        <select name="Department" id="Department Name">
            <option value="Engineering">Engineering</option>
            <option value="HR">HR</option>
            <option value="Sales">Sales</option>
            <option value="IT Administrative">IT Administrative</option>
        </select><br /><br />

        <input type="button" value="Register" >

        

    </form>
    </body>
    </html>
